<div>
  <h4><label for="search-box">Search term:
  </label></h4>
  <input #searchTerm id="search-box" (input)="find(searchTerm.value)"
         placeholder="Search for time series"
         type="text"
  />

  <ul class="search-results">
    <li *ngFor="let tsinfo of tsList"
      [class.selected]="tsinfo.name === selectedTsInfo.name"
      (click)="onSelect(tsinfo)">
      <span class="time-series-name">
        {{tsinfo.name}}
      </span>
    </li>
  </ul>
</div>
